

<div class="card-trip">
  <div class="card-trip-infos">
    <div>
      <% @lists.each do |list| %>
      <h2><%= link_to list.name, list_path(list) %></h2>
      <% end %>
    </div>
  </div>
    <%= link_to "Add a movie list?", new_list_path(@lists), class: "btn btn-primary" %>
</div>
